.task {
    margin: 5px;
    text-align: center;
    padding: 10px;
    border-radius: 5px; 
}

.wait {
    background-color: rgb(112, 168, 221);
}

.active {
    background-color: rgb(94, 211, 104);
}

.done {
    background-color: rgb(156, 148, 148);
}

button {
    border-radius: 5px;
    background: rgb(78, 184, 86);
    border-style: none;
    padding: 8px;
    outline: none;
    user-select: none;
    margin: 0 0 5px 0;
}

input {
    padding: 7px;
    border: 1px grey solid;
    border-radius: 5px;
    width: auto;
}

h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(5, 32, 13);
}

button:hover {
    cursor: pointer;
    background: rgb(112, 185, 118);
}

button:active {
    cursor: pointer;
    background: rgb(35, 110, 41);
}


.task-block {
    width: 33%; 
    display: inline-block; 
    vertical-align: top;
}

.task-block_wait {
    background-color: rgb(183, 203, 221);
}

.task-block_active {
    background-color: rgb(192, 206, 193);    
}

.task-block_done {
    background-color: rgb(211, 204, 204);
}

.new-task {
    background-color: rgb(192, 219, 186);
    transition-duration: 300ms;
    height: 0px;
    transition-property: 'height';
}

.new-task_open {
    height: 40px;
    padding: 10px 0 10px 15px;
    margin: 3px 0;
}